* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;

}
.header {
    color: #cdbdf8;
    text-align: center;
}

body {
    color: #063439;
    font-family:'Times New Roman', Times, serif;
  }

  
.nav {
    overflow: hidden;
    background-color: #ffe2b7;

}
.nav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: aliceblue;
    color: black;
}
article img{
    width: 100%;
}
section div a img {
    width: 100%;
}

section div b img {
    width: 600px;
}
p {
    background-color: #fff5ff;
    text-align: center;
    font-size: larger;
}
h1 {
    text-align: center;
}
.about-me{
    background-color: #fff5ff;
    
}

h2 {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    background-color: #ffe2b7;
}


.flex-row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.connect-with-me {
    clear: both;
    text-align: center;
    background-color: #fff5ff;
    font-size: larger;
}

footer h2 {
    text-align: center;
    background-color: #cdbdf8;
    font-size: small;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
header h1{
    font-size: large;
}
h1 {
    font-size:small
}
.flex-row {
flex-wrap: nowrap;
}

}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) 