* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;

}
.header {
    color: #cdbdf8;
    text-align: center;
}

body {
    color: #063439;
    font-family:'Times New Roman', Times, serif;
  }

/* This styles the Nav Section*/  
.nav {
    overflow: hidden;
    background-color: #ffe2b7;

}
.nav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: aliceblue;
    color: black;
}
/* This styles the landing page img*/
article img{
    width: 100%;
}
/* This styles the "applications" section img*/
section div a img {
    width: 100%;
}
/* This styles the first "applications" section img to be bigger*/
section div b img {
    width: 600px;
}
/* This styles the paragraph section*/
p {
    background-color: #fff5ff;
    text-align: center;
    font-size: larger;
}
/* This styles the h1 sections*/
h1 {
    text-align: center;
}
/* This styles the "about-me" Section*/
.about-me{
    background-color: #fff5ff;
    
}
/* This styles the h2 sections*/
h2 {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    background-color: #ffe2b7;
}
/* This styles the containers to flex*/
.flex-row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* This styles the "connect-with-me" Section*/
.connect-with-me {
    clear: both;
    text-align: center;
    background-color: #fff5ff;
    font-size: larger;
}
/*Footer Styling*/
footer h2 {
    text-align: center;
    background-color: #cdbdf8;
    font-size: small;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
header h1{
    font-size: large;
}
h1 {
    font-size:medium;
}
h2 {
    text-align: center;
    font-size: larger;
}
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
header h1{
    font-size: larger;
}
h1 {
    font-size:x-small;
}
h2 {
    text-align: center;
    font-size: larger;
}
}