* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.header {
    color: #cdbdf8;
    text-align: center;
    
}

body {
    color: #063439;
    font-family:'Times New Roman', Times, serif;
  }

  
.nav {
    overflow: hidden;
    background-color: #ffe2b7;
}
.nav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: aliceblue;
    color: black;
}

img {
    width: 100%;
}
p {
    background-color: #fff5ff;
    text-align: center;
    font-size: larger;
}
h1 {
    text-align: center;
}
.about-me{
    background-color: #fff5ff;
    
}
.about-me img{
    display: flex;
    margin: 50px auto;
    max-width: 500px;
    
}
h2 {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    background-color: #ffe2b7;
}
.application-img {
    width: 25%;
}

.flex-row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.connect-with-me {
    clear: both;
    text-align: center;
    background-color: #fff5ff;
    font-size: larger;
}
}
/*Footer Styling h2*/
